body {
	margin-top: 30px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

main{
	margin-left: 100px;
	width: 80%;
}

.main{
	display: flex;
}

aside {
	width: 10%;
}

.selectElement {
	margin: 15px;
	color: #838382;
}

.selectElement:hover {
	color: rgb(67, 161, 255);
	cursor: pointer;
}

.icon {
	margin-right: 10px;
}

.profile {
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-left: 15px;
	font-size: 17px;
	background-color: rgb(67, 161, 255);
	color:#fff
}

.profile .icon{
	font-size: 35px;
}

.countData{
	margin-bottom: 5px;
}

.paginationBlock{
	margin-top: 5px;
	margin-left: 65%;
	width: 40%;
}

.pagination{
	display: flex;
	justify-content: center;
}

.buttons{
	display: flex;
	justify-content: space-around;
	margin: 5px 25%;
	width: 50%;
}

.status{
	color: white;
	width: 15%;
	text-align: center;
	border-radius: 5px;
	font-weight: 500;
}

.new {
	background-color: #b8b8b7;
}

.approved{
background-color: #1c77cc;
}

.inWork{
background-color: #FFBA00;
}

.complited{
background-color: #24b317;
}

.canceled{
background-color: #f7472b;
}

.input{
	width: 15%;
}

.dropDownList{
	width: 15%;
}

.select{
	width: 100%;
}

p{
	margin: 0;
}

.filter{
	display: flex;
	justify-content: space-around;
	margin-bottom: 5px;
}

